/* modal */

.modal {
    width: 100vw;

    background-color: var(--background-transparent-theme);
    z-index: 2;
    transition: var(--transition-slow);
}
.modal[open] {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: calc(var(--default-gap) / 2);
}

.modal > a {
    width: 100vw;

    line-height: 2;
    text-align: center;
}