/* input */

.drop {
    margin-top: var(--default-gap);
    margin-bottom: var(--default-gap);
}

.file {
    display: none;
}
.filelabel {
    display: grid;
    align-items: center;
    height: calc(5 * var(--default-gap));
    border: .1rem dashed var(--blue-darker);

    text-align: center;
    transition: var(--transition-fast);
}
.filelabel:hover {
    border: .1rem dashed var(--blue-default);
}
.filelabel.in {
    border: .1rem dashed var(--blue-default);
}
.filelabel > div {
    font-size: var(--font-size-small);
}
.filelabel:hover > div {
    color: var(--link-hover-text);
}
.filelabel.in > div {
    color: var(--link-hover-text);
}