.main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 calc(var(--default-gap) / 2);
}

.feedback {
    min-height: calc(2 * var(--default-gap));
}
.spinner {
    display: grid;
    align-items: center;
    justify-content: center;

    min-height: calc(2 * var(--default-gap));

    margin-bottom: var(--default-gap);
}


.preview {
    margin: 0 auto;
}

/* posts */

.image {
    max-height: 500px;
    margin: calc(var(--default-gap) / 2) auto;
}

.meta {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

.meta > p {
    margin: 0;
    text-align: right;
}

.delete {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: end;
    gap: calc(var(--default-gap) / 2);
}

.delete > p {
    margin: 0;
}

.deleteBtn {
    max-width: fit-content;

    font-size: var(--font-size-small);
}
.deleteBtn:hover {
    color: var(--error);
    background-color: var(--error-lightest);
}

.message {
    white-space: pre-wrap;
}

.hr {
    margin-bottom: var(--default-gap);
}